:root {
    --h-full: 100%;
    --w-full : 100%;
    --h-screen: 100vh;
    --w-screen : 100vw;
    --br-radius-sm: 5px;
    --br-radius-full: 50%;
    --h-mobile-header : 50px;
    --h-primary-header : 90px;
    --h-secondary-header: 40px;
    --h-flip-card : 240px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.1;
    color: var(--c-black);
    font-family: var(--font-regular);
}

h1 { font-size: 60px; }
h2 { font-size: 42px; }
h3 { font-size: 16px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 30px; }

ul li { list-style: none; }
a { text-decoration: none; }
a:hover { cursor: pointer; }

/*******************************/
    /* REUSABLE COMPONENTS */
/*******************************/

.container {
   max-width: 1170px; 
   padding: 0 15px;
   margin: 0 auto;
}

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--c-primary);
}